.circuits-winners-list{
  .season-winner{
    background-color: $yellow;
  }
}
.season-winner-legend{
  &:after{
    content: '';
    display: inline-block;
    border: 1px solid $gray-700;
    background-color: $yellow;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    margin-bottom: -2px;

  }
}